*{
    font-size: 30PX;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: tomato;
    background-color: whitesmoke;

}
.wrapper{
    text-align: center;
    margin-top: 5%;
    background-color: whitesmoke;

}
.body{
    margin: 100px auto;
    height: 230px;
    width: 30%;
    background-color: grey;
    border: 4px solid black;
    border-radius: 40px;
}
.time{
    background-color: grey;

}
button{
    padding: 5px 10px;
    margin: 10px;
    border: 1px solid black;  
    /* background-color: cadetblue; */


}
