body{
    background-color: black;
    height: 100%;
    width: 100%;
}
p{
    width: 80%;
    margin: 5% auto;
    padding: 20px;
    font-family: 'Abril Fatface', cursive;
    font-size: 28px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: aliceblue;
    border: 2px solid white;
}